/* body */

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url("./premium_photo-1674048382856-aa9984d8b391.avif");
    height: 100vh;
}

/* form elements */
form {
    background-color:#FFFFFF;
    padding: 12.5rem 5rem;
    box-shadow: 0 0 1.25rem rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    margin: 0 5rem;
}

h1, h2 {
    text-align: center
}

.form-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.625rem;
}

label {
    margin-right: 0.625rem;
}

input, select {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 12.5rem;
    box-sizing: border-box;
    padding: 0.3125rem;
}

/* warning messages */

small {
    margin-left: 0.625rem;
    color: red;
}

/* google logo */
.google-logo {
    width: 1.875rem;
    vertical-align: middle;
    margin-right: 0.625rem;
}

span {
    vertical-align: middle;
}

/* buttons */

button {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 0.3125rem 0.625rem;
    border-radius: 0.3125rem;
    border: none;
    margin-top: 1.875rem;
    margin-left: 0.625rem;
    width: 12.5rem;
    align-self: center;
    transition: opacity 0.2s;
    padding: 0.625rem;
    background-color: rgb(72, 82, 223);
    color: white;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    opacity: 0.5;
}

.login-btn {
    justify-content: center;
    align-items: space-between;
}

/* details saved message */

.details-saved {
    color: green;
    text-align: center;
}